= form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
  -if @user.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control input-thick'
  .form-group
    = f.label :sex, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :sex, class: 'form-control input-thick'
  .form-group
    = f.label :profile, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :profile, class: 'form-control input-thick'
  .form-group
    = f.label :phone, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :phone, class: 'form-control input-thick'
  .form-group
    = f.label :address, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :address, class: 'form-control input-thick'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control input-thick'
  .form-group
    .col-sm-offset-2.col-sm-10
      .pull-right
        = f.submit class: 'btn btn-primary'
